body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:1185px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:1px;
  top:68px;
  width:1502px;
  height:1185px;
}
#u229 {
  position:absolute;
  left:2px;
  top:584px;
  width:1498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:1150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:255px;
  top:84px;
  width:1226px;
  height:1150px;
}
#u231 {
  position:absolute;
  left:2px;
  top:567px;
  width:1222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1503px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:1503px;
  height:68px;
}
#u234 {
  position:absolute;
  left:2px;
  top:26px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u235 {
  position:absolute;
  left:1156px;
  top:18px;
  width:56px;
  height:21px;
  font-size:14px;
}
#u236 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u235_ann {
  position:absolute;
  left:1205px;
  top:14px;
  width:1px;
  height:1px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u237 {
  position:absolute;
  left:64px;
  top:10px;
  width:200px;
  height:48px;
}
#u238 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u239 {
  position:absolute;
  left:285px;
  top:22px;
  width:148px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u241 {
  position:absolute;
  left:788px;
  top:410px;
  width:161px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
