body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1266px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:1185px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3422 {
  position:absolute;
  left:0px;
  top:73px;
  width:1266px;
  height:1185px;
}
#u3423 {
  position:absolute;
  left:2px;
  top:584px;
  width:1262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:1150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3424 {
  position:absolute;
  left:21px;
  top:84px;
  width:1226px;
  height:1150px;
}
#u3425 {
  position:absolute;
  left:2px;
  top:567px;
  width:1222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3426 {
  position:absolute;
  left:59px;
  top:114px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3427 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3428 {
  position:absolute;
  left:59px;
  top:233px;
  width:76px;
  height:17px;
  opacity:0.5;
}
#u3429 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u3430 {
  position:absolute;
  left:59px;
  top:250px;
  width:100px;
  height:16px;
}
#u3431 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3430_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3432 {
  position:absolute;
  left:59px;
  top:289px;
  width:62px;
  height:17px;
  opacity:0.5;
}
#u3433 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u3434 {
  position:absolute;
  left:59px;
  top:303px;
  width:59px;
  height:16px;
}
#u3435 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u3434_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3436 {
  position:absolute;
  left:137px;
  top:303px;
  width:59px;
  height:16px;
}
#u3437 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u3436_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3438 {
  position:absolute;
  left:59px;
  top:365px;
  width:117px;
  height:31px;
}
#u3439 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u3440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3440 {
  position:absolute;
  left:59px;
  top:201px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3441 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3443 {
  position:absolute;
  left:0px;
  top:2px;
  width:1266px;
  height:68px;
}
#u3444 {
  position:absolute;
  left:2px;
  top:26px;
  width:1262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3445 {
  position:absolute;
  left:1px;
  top:3px;
  width:67px;
  height:66px;
}
#u3446 {
  position:absolute;
  left:2px;
  top:25px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u3447 {
  position:absolute;
  left:78px;
  top:12px;
  width:200px;
  height:48px;
}
#u3448 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u3449 {
  position:absolute;
  left:299px;
  top:24px;
  width:148px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u3450 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
