body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:622px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6938 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:440px;
}
#u6939 {
  position:absolute;
  left:2px;
  top:212px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6940 {
  position:absolute;
  left:232px;
  top:277px;
  width:140px;
  height:40px;
}
#u6941 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u6942 {
  position:absolute;
  left:152px;
  top:50px;
  width:300px;
  height:170px;
}
#u6943 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
