body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6944 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u6945 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6946 {
  position:absolute;
  left:446px;
  top:614px;
  width:126px;
  height:16px;
}
#u6947 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6948 {
  position:absolute;
  left:514px;
  top:875px;
  width:511px;
  height:402px;
}
#u6949 {
  position:absolute;
  left:2px;
  top:193px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:2px;
}
#u6950 {
  position:absolute;
  left:524px;
  top:950px;
  width:501px;
  height:1px;
  opacity:0.2;
}
#u6951 {
  position:absolute;
  left:2px;
  top:-8px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 102, 204, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6952 {
  position:absolute;
  left:547px;
  top:1180px;
  width:441px;
  height:50px;
  font-size:20px;
}
#u6952_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6952.disabled {
}
#u6953 {
  position:absolute;
  left:2px;
  top:13px;
  width:437px;
  word-wrap:break-word;
}
#u6954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u6954 {
  position:absolute;
  left:547px;
  top:894px;
  width:441px;
  height:32px;
  font-size:28px;
  text-align:center;
}
#u6955 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u6956 {
  position:absolute;
  left:547px;
  top:999px;
  width:441px;
  height:50px;
}
#u6956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6957 {
  position:absolute;
  left:547px;
  top:1068px;
  width:441px;
  height:50px;
}
#u6957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6958 {
  position:absolute;
  left:547px;
  top:977px;
  width:94px;
  height:16px;
  color:#FF0000;
}
#u6959 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u6960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6960 {
  position:absolute;
  left:514px;
  top:92px;
  width:511px;
  height:402px;
}
#u6961 {
  position:absolute;
  left:2px;
  top:193px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:2px;
}
#u6962 {
  position:absolute;
  left:524px;
  top:167px;
  width:501px;
  height:1px;
  opacity:0.2;
}
#u6963 {
  position:absolute;
  left:2px;
  top:-8px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 102, 204, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6964 {
  position:absolute;
  left:547px;
  top:397px;
  width:441px;
  height:50px;
  font-size:20px;
}
#u6964_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6964.disabled {
}
#u6965 {
  position:absolute;
  left:2px;
  top:13px;
  width:437px;
  word-wrap:break-word;
}
#u6966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u6966 {
  position:absolute;
  left:547px;
  top:111px;
  width:441px;
  height:32px;
  font-size:28px;
  text-align:center;
}
#u6967 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u6968 {
  position:absolute;
  left:547px;
  top:216px;
  width:441px;
  height:50px;
}
#u6968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6969 {
  position:absolute;
  left:547px;
  top:285px;
  width:441px;
  height:50px;
}
#u6969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
