body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6725 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u6726 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6727 {
  position:absolute;
  left:446px;
  top:614px;
  width:126px;
  height:16px;
}
#u6728 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6729 {
  position:absolute;
  left:514px;
  top:875px;
  width:511px;
  height:402px;
}
#u6730 {
  position:absolute;
  left:2px;
  top:193px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:2px;
}
#u6731 {
  position:absolute;
  left:524px;
  top:950px;
  width:501px;
  height:1px;
  opacity:0.2;
}
#u6732 {
  position:absolute;
  left:2px;
  top:-8px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 102, 204, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6733 {
  position:absolute;
  left:547px;
  top:1194px;
  width:441px;
  height:50px;
  font-size:20px;
}
#u6733_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6733.disabled {
}
#u6734 {
  position:absolute;
  left:2px;
  top:13px;
  width:437px;
  word-wrap:break-word;
}
#u6735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u6735 {
  position:absolute;
  left:547px;
  top:894px;
  width:441px;
  height:32px;
  font-size:28px;
  text-align:center;
}
#u6736 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u6737 {
  position:absolute;
  left:547px;
  top:999px;
  width:441px;
  height:50px;
}
#u6737_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6738 {
  position:absolute;
  left:547px;
  top:1068px;
  width:441px;
  height:50px;
}
#u6738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6739 {
  position:absolute;
  left:547px;
  top:977px;
  width:94px;
  height:16px;
  color:#FF0000;
}
#u6740 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u6741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6741 {
  position:absolute;
  left:514px;
  top:92px;
  width:511px;
  height:402px;
}
#u6742 {
  position:absolute;
  left:2px;
  top:193px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:2px;
}
#u6743 {
  position:absolute;
  left:524px;
  top:167px;
  width:501px;
  height:1px;
  opacity:0.2;
}
#u6744 {
  position:absolute;
  left:2px;
  top:-8px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 102, 204, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6745 {
  position:absolute;
  left:547px;
  top:397px;
  width:441px;
  height:50px;
  font-size:20px;
}
#u6745_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6745.disabled {
}
#u6746 {
  position:absolute;
  left:2px;
  top:13px;
  width:437px;
  word-wrap:break-word;
}
#u6747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u6747 {
  position:absolute;
  left:547px;
  top:111px;
  width:441px;
  height:32px;
  font-size:28px;
  text-align:center;
}
#u6748 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u6749 {
  position:absolute;
  left:547px;
  top:216px;
  width:441px;
  height:50px;
}
#u6749_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6750 {
  position:absolute;
  left:547px;
  top:285px;
  width:441px;
  height:50px;
}
#u6750_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6751 {
  position:absolute;
  left:547px;
  top:1134px;
  width:219px;
  height:50px;
}
#u6751_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u6752 {
  position:absolute;
  left:776px;
  top:1134px;
  width:152px;
  height:50px;
}
#u6753 {
  position:absolute;
  left:2px;
  top:17px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6754 {
  position:absolute;
  left:943px;
  top:1149px;
  width:45px;
  height:20px;
}
#u6755 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
