body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:800px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:800px;
  opacity:0.2;
}
#u3 {
  position:absolute;
  left:2px;
  top:392px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:111px;
}
#u4 {
  position:absolute;
  left:301px;
  top:77px;
  width:294px;
  height:111px;
}
#u5 {
  position:absolute;
  left:2px;
  top:48px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:193px;
  top:198px;
  width:523px;
  height:470px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:470px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:511px;
  height:445px;
}
#u8 {
  position:absolute;
  left:2px;
  top:214px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:2px;
}
#u9 {
  position:absolute;
  left:12px;
  top:77px;
  width:501px;
  height:1px;
  opacity:0.2;
}
#u10 {
  position:absolute;
  left:2px;
  top:-8px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 102, 204, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11 {
  position:absolute;
  left:35px;
  top:327px;
  width:441px;
  height:50px;
  font-size:20px;
}
#u11_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11.disabled {
}
#u12 {
  position:absolute;
  left:2px;
  top:13px;
  width:437px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u13 {
  position:absolute;
  left:35px;
  top:21px;
  width:441px;
  height:32px;
  font-size:28px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:35px;
  top:126px;
  width:441px;
  height:50px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:35px;
  top:197px;
  width:441px;
  height:50px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 102, 204, 0.8);
}
#u17 {
  position:absolute;
  left:379px;
  top:95px;
  width:101px;
  height:20px;
  color:rgba(0, 102, 204, 0.8);
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 102, 204, 0.8);
}
#u19 {
  position:absolute;
  left:415px;
  top:405px;
  width:61px;
  height:20px;
  color:rgba(0, 102, 204, 0.8);
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 102, 204, 0.8);
}
#u21 {
  position:absolute;
  left:338px;
  top:405px;
  width:76px;
  height:20px;
  color:rgba(0, 102, 204, 0.8);
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:35px;
  top:289px;
  width:300px;
  height:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:470px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:3px;
  top:4px;
  width:511px;
  height:446px;
}
#u26 {
  position:absolute;
  left:2px;
  top:215px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:2px;
}
#u27 {
  position:absolute;
  left:13px;
  top:79px;
  width:501px;
  height:1px;
  opacity:0.2;
}
#u28 {
  position:absolute;
  left:2px;
  top:-8px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 102, 204, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u29 {
  position:absolute;
  left:36px;
  top:330px;
  width:441px;
  height:50px;
  font-size:20px;
}
#u29_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u29.disabled {
}
#u30 {
  position:absolute;
  left:2px;
  top:13px;
  width:437px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u31 {
  position:absolute;
  left:36px;
  top:23px;
  width:441px;
  height:32px;
  font-size:28px;
  text-align:center;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:36px;
  top:128px;
  width:441px;
  height:50px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:36px;
  top:202px;
  width:274px;
  height:50px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 102, 204, 0.8);
}
#u35 {
  position:absolute;
  left:411px;
  top:98px;
  width:66px;
  height:20px;
  color:rgba(0, 102, 204, 0.8);
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 116, 225, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#498EFD;
}
#u37 {
  position:absolute;
  left:337px;
  top:207px;
  width:140px;
  height:40px;
  color:#498EFD;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:36px;
  top:292px;
  width:300px;
  height:16px;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:551px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:199px;
  top:885px;
  width:511px;
  height:551px;
}
#u42 {
  position:absolute;
  left:2px;
  top:268px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:2px;
}
#u43 {
  position:absolute;
  left:209px;
  top:960px;
  width:501px;
  height:1px;
  opacity:0.2;
}
#u44 {
  position:absolute;
  left:2px;
  top:-8px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 102, 204, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u45 {
  position:absolute;
  left:232px;
  top:1288px;
  width:441px;
  height:50px;
  font-size:20px;
}
#u45_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u45.disabled {
}
#u46 {
  position:absolute;
  left:2px;
  top:13px;
  width:437px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u47 {
  position:absolute;
  left:232px;
  top:904px;
  width:441px;
  height:32px;
  font-size:28px;
  text-align:center;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:232px;
  top:1009px;
  width:441px;
  height:50px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:232px;
  top:1080px;
  width:441px;
  height:50px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 102, 204, 0.8);
}
#u51 {
  position:absolute;
  left:576px;
  top:978px;
  width:101px;
  height:20px;
  color:rgba(0, 102, 204, 0.8);
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 102, 204, 0.8);
}
#u53 {
  position:absolute;
  left:612px;
  top:1366px;
  width:61px;
  height:20px;
  color:rgba(0, 102, 204, 0.8);
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 102, 204, 0.8);
}
#u55 {
  position:absolute;
  left:535px;
  top:1366px;
  width:76px;
  height:20px;
  color:rgba(0, 102, 204, 0.8);
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u58 {
  position:absolute;
  left:232px;
  top:1155px;
  width:153px;
  height:43px;
  font-size:20px;
}
#u58_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u58.selected {
}
#u59 {
  position:absolute;
  left:2px;
  top:14px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:233px;
  top:1158px;
  width:150px;
  height:38px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:42px;
}
#u61 {
  position:absolute;
  left:418px;
  top:1156px;
  width:74px;
  height:42px;
}
#u62 {
  position:absolute;
  left:2px;
  top:13px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:534px;
  top:1167px;
  width:45px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u65 {
  position:absolute;
  left:232px;
  top:978px;
  width:125px;
  height:16px;
  color:#FF0000;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:129px;
  top:1416px;
  width:126px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:232px;
  top:1242px;
  width:300px;
  height:16px;
}
#u70 {
  position:absolute;
  left:16px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u69_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
