body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1416px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:1185px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7898 {
  position:absolute;
  left:150px;
  top:0px;
  width:1266px;
  height:1185px;
}
#u7899 {
  position:absolute;
  left:2px;
  top:584px;
  width:1262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:1150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7900 {
  position:absolute;
  left:171px;
  top:11px;
  width:1226px;
  height:1150px;
}
#u7901 {
  position:absolute;
  left:2px;
  top:567px;
  width:1222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7902 {
  position:absolute;
  left:212px;
  top:107px;
  width:1151px;
  height:195px;
}
#u7903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u7903 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u7904 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u7905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
}
#u7905 {
  position:absolute;
  left:105px;
  top:0px;
  width:127px;
  height:35px;
}
#u7906 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u7907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u7907 {
  position:absolute;
  left:232px;
  top:0px;
  width:120px;
  height:35px;
}
#u7908 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u7909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:35px;
}
#u7909 {
  position:absolute;
  left:352px;
  top:0px;
  width:413px;
  height:35px;
}
#u7910 {
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u7911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
}
#u7911 {
  position:absolute;
  left:765px;
  top:0px;
  width:191px;
  height:35px;
}
#u7912 {
  position:absolute;
  left:2px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u7913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u7913 {
  position:absolute;
  left:956px;
  top:0px;
  width:190px;
  height:35px;
}
#u7914 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u7915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:29px;
}
#u7915 {
  position:absolute;
  left:0px;
  top:35px;
  width:105px;
  height:29px;
}
#u7916 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u7917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:29px;
}
#u7917 {
  position:absolute;
  left:105px;
  top:35px;
  width:127px;
  height:29px;
}
#u7918 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
}
#u7919 {
  position:absolute;
  left:232px;
  top:35px;
  width:120px;
  height:29px;
}
#u7920 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:29px;
}
#u7921 {
  position:absolute;
  left:352px;
  top:35px;
  width:413px;
  height:29px;
}
#u7922 {
  position:absolute;
  left:2px;
  top:6px;
  width:409px;
  word-wrap:break-word;
}
#u7923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:29px;
}
#u7923 {
  position:absolute;
  left:765px;
  top:35px;
  width:191px;
  height:29px;
  color:#008000;
}
#u7924 {
  position:absolute;
  left:2px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u7925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:29px;
}
#u7925 {
  position:absolute;
  left:956px;
  top:35px;
  width:190px;
  height:29px;
}
#u7926 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u7927 {
  position:absolute;
  left:0px;
  top:64px;
  width:105px;
  height:30px;
}
#u7928 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u7929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u7929 {
  position:absolute;
  left:105px;
  top:64px;
  width:127px;
  height:30px;
}
#u7930 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u7931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u7931 {
  position:absolute;
  left:232px;
  top:64px;
  width:120px;
  height:30px;
}
#u7932 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:30px;
}
#u7933 {
  position:absolute;
  left:352px;
  top:64px;
  width:413px;
  height:30px;
}
#u7934 {
  position:absolute;
  left:2px;
  top:7px;
  width:409px;
  word-wrap:break-word;
}
#u7935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u7935 {
  position:absolute;
  left:765px;
  top:64px;
  width:191px;
  height:30px;
  color:#008000;
}
#u7936 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u7937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7937 {
  position:absolute;
  left:956px;
  top:64px;
  width:190px;
  height:30px;
}
#u7938 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u7939 {
  position:absolute;
  left:0px;
  top:94px;
  width:105px;
  height:30px;
}
#u7940 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u7941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u7941 {
  position:absolute;
  left:105px;
  top:94px;
  width:127px;
  height:30px;
}
#u7942 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u7943 {
  position:absolute;
  left:232px;
  top:94px;
  width:120px;
  height:30px;
}
#u7944 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:30px;
}
#u7945 {
  position:absolute;
  left:352px;
  top:94px;
  width:413px;
  height:30px;
}
#u7946 {
  position:absolute;
  left:2px;
  top:7px;
  width:409px;
  word-wrap:break-word;
}
#u7947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u7947 {
  position:absolute;
  left:765px;
  top:94px;
  width:191px;
  height:30px;
  color:#008000;
}
#u7948 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u7949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7949 {
  position:absolute;
  left:956px;
  top:94px;
  width:190px;
  height:30px;
}
#u7950 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u7951 {
  position:absolute;
  left:0px;
  top:124px;
  width:105px;
  height:30px;
}
#u7952 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u7953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u7953 {
  position:absolute;
  left:105px;
  top:124px;
  width:127px;
  height:30px;
}
#u7954 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u7955 {
  position:absolute;
  left:232px;
  top:124px;
  width:120px;
  height:30px;
}
#u7956 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:30px;
}
#u7957 {
  position:absolute;
  left:352px;
  top:124px;
  width:413px;
  height:30px;
}
#u7958 {
  position:absolute;
  left:2px;
  top:7px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u7959 {
  position:absolute;
  left:765px;
  top:124px;
  width:191px;
  height:30px;
  color:#FF0000;
}
#u7960 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u7961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u7961 {
  position:absolute;
  left:956px;
  top:124px;
  width:190px;
  height:30px;
}
#u7962 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u7963 {
  position:absolute;
  left:0px;
  top:154px;
  width:105px;
  height:36px;
}
#u7964 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u7965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u7965 {
  position:absolute;
  left:105px;
  top:154px;
  width:127px;
  height:36px;
}
#u7966 {
  position:absolute;
  left:2px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u7967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u7967 {
  position:absolute;
  left:232px;
  top:154px;
  width:120px;
  height:36px;
}
#u7968 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:36px;
}
#u7969 {
  position:absolute;
  left:352px;
  top:154px;
  width:413px;
  height:36px;
}
#u7970 {
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:36px;
}
#u7971 {
  position:absolute;
  left:765px;
  top:154px;
  width:191px;
  height:36px;
  color:#FF0000;
}
#u7972 {
  position:absolute;
  left:2px;
  top:10px;
  width:187px;
  word-wrap:break-word;
}
#u7973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u7973 {
  position:absolute;
  left:956px;
  top:154px;
  width:190px;
  height:36px;
}
#u7974 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7975 {
  position:absolute;
  left:213px;
  top:44px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7976 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7977 {
  position:absolute;
  left:1247px;
  top:146px;
  width:32px;
  height:20px;
}
#u7978 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u7979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7979 {
  position:absolute;
  left:1247px;
  top:176px;
  width:32px;
  height:20px;
}
#u7980 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u7981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7981 {
  position:absolute;
  left:1247px;
  top:206px;
  width:32px;
  height:20px;
}
#u7982 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u7983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7983 {
  position:absolute;
  left:1247px;
  top:236px;
  width:32px;
  height:20px;
}
#u7984 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u7985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7985 {
  position:absolute;
  left:1247px;
  top:268px;
  width:32px;
  height:20px;
}
#u7986 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u7987 {
  position:absolute;
  left:468px;
  top:60px;
  width:630px;
  height:531px;
  overflow:hidden;
  visibility:hidden;
}
#u7987_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:531px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7987_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7987_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:531px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7987_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:451px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7988 {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:451px;
}
#u7989 {
  position:absolute;
  left:2px;
  top:218px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7990 {
  position:absolute;
  left:2px;
  top:2px;
  width:626px;
  height:52px;
}
#u7991 {
  position:absolute;
  left:2px;
  top:18px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7992 {
  position:absolute;
  left:480px;
  top:411px;
  width:117px;
  height:31px;
}
#u7993 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u7994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7994 {
  position:absolute;
  left:332px;
  top:411px;
  width:117px;
  height:31px;
}
#u7995 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u7996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:2px;
}
#u7996 {
  position:absolute;
  left:2px;
  top:398px;
  width:626px;
  height:1px;
  opacity:0.5;
}
#u7997 {
  position:absolute;
  left:2px;
  top:-8px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7998 {
  position:absolute;
  left:40px;
  top:17px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7999 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:22px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8000 {
  position:absolute;
  left:579px;
  top:17px;
  width:23px;
  height:23px;
}
#u8001 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u8002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8002 {
  position:absolute;
  left:40px;
  top:68px;
  width:71px;
  height:17px;
  opacity:0.5;
}
#u8003 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8004 {
  position:absolute;
  left:40px;
  top:127px;
  width:76px;
  height:17px;
  opacity:0.5;
}
#u8005 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u8006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8006 {
  position:absolute;
  left:40px;
  top:319px;
  width:104px;
  height:17px;
  opacity:0.5;
}
#u8007 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u8008 {
  position:absolute;
  left:40px;
  top:342px;
  width:65px;
  height:16px;
}
#u8009 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8008_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8010 {
  position:absolute;
  left:123px;
  top:342px;
  width:65px;
  height:16px;
}
#u8011 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8010_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u8012 {
  position:absolute;
  left:40px;
  top:95px;
  width:28px;
  height:16px;
  text-align:center;
}
#u8013 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u8014 {
  position:absolute;
  left:40px;
  top:154px;
  width:100px;
  height:16px;
}
#u8015 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8014_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8016 {
  position:absolute;
  left:40px;
  top:249px;
  width:71px;
  height:17px;
  opacity:0.5;
}
#u8017 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8018 {
  position:absolute;
  left:40px;
  top:276px;
  width:100px;
  height:16px;
}
#u8019 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8018_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8020 {
  position:absolute;
  left:40px;
  top:188px;
  width:76px;
  height:17px;
  opacity:0.5;
}
#u8021 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u8022 {
  position:absolute;
  left:40px;
  top:215px;
  width:100px;
  height:16px;
}
#u8023 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8022_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7987_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:531px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7987_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7987_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:531px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7987_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7987_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:531px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7987_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:1179px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8025 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:1179px;
}
#u8026 {
  position:absolute;
  left:2px;
  top:582px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8027 {
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8028 {
  position:absolute;
  left:19px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8031 {
  position:absolute;
  left:0px;
  top:107px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8032 {
  position:absolute;
  left:19px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u8033 {
  position:absolute;
  left:131px;
  top:126px;
  width:10px;
  height:7px;
  color:#FFFFFF;
}
#u8034 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8035 {
  position:absolute;
  left:0px;
  top:149px;
  width:150px;
  height:42px;
  color:#FFFFFF;
}
#u8036 {
  position:absolute;
  left:2px;
  top:13px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u8037 {
  position:absolute;
  left:0px;
  top:149px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u8038 {
  position:absolute;
  left:48px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u8039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u8039 {
  position:absolute;
  left:10px;
  top:13px;
  width:138px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u8040 {
  position:absolute;
  left:19px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u8041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8041 {
  position:absolute;
  left:4px;
  top:24px;
  width:23px;
  height:23px;
}
#u8042 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8044 {
  position:absolute;
  left:0px;
  top:191px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8045 {
  position:absolute;
  left:19px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u8046 {
  position:absolute;
  left:131px;
  top:210px;
  width:10px;
  height:7px;
  color:#FFFFFF;
}
#u8047 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8048 {
  position:absolute;
  left:0px;
  top:233px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8049 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8050 {
  position:absolute;
  left:0px;
  top:274px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8051 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8053 {
  position:absolute;
  left:0px;
  top:316px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8054 {
  position:absolute;
  left:19px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u8055 {
  position:absolute;
  left:131px;
  top:335px;
  width:10px;
  height:7px;
  color:#FFFFFF;
}
#u8056 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8057 {
  position:absolute;
  left:0px;
  top:358px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8058 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8060 {
  position:absolute;
  left:0px;
  top:400px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8061 {
  position:absolute;
  left:19px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u8062 {
  position:absolute;
  left:131px;
  top:419px;
  width:10px;
  height:7px;
  color:#FFFFFF;
}
#u8063 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8064 {
  position:absolute;
  left:0px;
  top:442px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8065 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8066 {
  position:absolute;
  left:0px;
  top:484px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8067 {
  position:absolute;
  left:19px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8069 {
  position:absolute;
  left:0px;
  top:526px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8070 {
  position:absolute;
  left:19px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u8071 {
  position:absolute;
  left:131px;
  top:545px;
  width:10px;
  height:7px;
  color:#FFFFFF;
}
#u8072 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8073 {
  position:absolute;
  left:0px;
  top:568px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8074 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8075 {
  position:absolute;
  left:0px;
  top:609px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8076 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8078 {
  position:absolute;
  left:0px;
  top:651px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8079 {
  position:absolute;
  left:19px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u8080 {
  position:absolute;
  left:131px;
  top:670px;
  width:10px;
  height:7px;
  color:#FFFFFF;
}
#u8081 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8082 {
  position:absolute;
  left:0px;
  top:693px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8083 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8084 {
  position:absolute;
  left:0px;
  top:734px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8085 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8086 {
  position:absolute;
  left:0px;
  top:776px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8087 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8088 {
  position:absolute;
  left:0px;
  top:817px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8089 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8090 {
  position:absolute;
  left:0px;
  top:859px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8091 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8092 {
  position:absolute;
  left:0px;
  top:900px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8093 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8094 {
  position:absolute;
  left:0px;
  top:942px;
  width:150px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8095 {
  position:absolute;
  left:19px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
